<%- include('header') -%>
        <header>
            <div class="container">
                <div class="row my-5 row-cols-md-6 align-self-end">
                    <h1 class="col col-md-6">Állatkert hozzáadása</h1>
                </div>
            </div>
        </header>
        <form method="POST">
            <div class="container">
                <div class="form-group row my-3">
                    <label for="nev" class="col-sm-2 col-form-label">Név:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nev" name="nev">
                    </div>
                </div>
                <div class="form-group row my-3">
                    <label for="cim" class="col-sm-2 col-form-label">Cím:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cim" name="cim">
                    </div>
                </div>
                <div class="form-group row my-3">
                    <label for="uzemelteto" class="col-sm-2 col-form-label">Üzemeltető:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="uzemelteto" name="uzemelteto">
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Mentés">
                <button type="cancel" class="btn btn-secondary" >
                    <a class="nav-link" href="/">Mégsem</a>
                </button>
            </div>
        </form>
        <%- include('footer') -%>