<%- include('header') -%>
    <body>
        <header>
            <div class="container">
                <div class="row my-5 row-cols-md-6 align-self-end">
                    <h1 class="col col-md-6">Állatkert módosítása</h1>
                </div>
            </div>
        </header>
        <form method="POST">
            <div class="container">
                <div class="form-group row my-3">
                    <label for="inputName" class="col-sm-2 col-form-label">Név:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Panda Land">
                    </div>
                </div>
                <div class="form-group row my-3">
                    <label for="inputAddress" class="col-sm-2 col-form-label">Cím:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputAddress" placeholder="Április utca 1.">
                    </div>
                </div>
                <div class="form-group row my-3">
                    <label for="inputOperator" class="col-sm-2 col-form-label">Üzemeltető:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputOperator" placeholder="Fül Elek">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Mentés</button>
                <button type="cancel" class="btn btn-secondary">
                    <a class="nav-link" href="/">Mégsem</a>
                </button>
            </div>
        </form>
        <%- include('footer') -%>