<%- include('header') -%>
        <header>
            <div class="container">
                <div class="row my-5 row-cols-md-6 align-self-end">
                    <h1 class="col col-md-6">Állatkertek</h1>
                    <button class="btn col col-md-2 align-self-end" >
                        <a class="nav-link" href="zooadd.html">Állatkert hozzáadása</a>
                    </button>
                </div>
            </div>
        </header>
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">
                    <th scope="col">Név</th>
                    <th scope="col">Cím</th>
                    <th scope="col">Üzemeltető</th>
                    <th scope="col">
                    <th scope="col">
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                        <button class="btn"  title="Animals" id="animals" href="animals.html">
                            <a class="nav-link" href="animals.html">Állatok</a>
                        </button>
                    </th>
                    <td>HappyZoo</td>
                    <td>Happy Road 10.</td>
                    <td>Happy Zoo</td>
                    <td>
                        <button class="btn"  title="Change" id="change" >
                            <a class="nav-link" href="zooupdate.html">Módosítás</a>
                        </button>
                    </td>
                    <td>
                        <button class="btn" type="button" title="Delete" id="delete">Törlés</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                        <button class="btn"  title="Animals" id="animals" href="animals.html">
                            <a class="nav-link" href="animals.html">Állatok</a>
                        </button>
                    </th>
                    <td>Panda Land</td>
                    <td>Április utca 1.</td>
                    <td>Fül ELek</td>
                    <td>
                        <button class="btn"  title="Change" id="change" >
                            <a class="nav-link" href="zooupdate.html">Módosítás</a>
                        </button>
                    </td>
                    <td>
                        <button class="btn" type="button" title="Delete" id="delete">Törlés</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
        <%- include('footer') -%>
